<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title %>
  </title>
  <link rel='stylesheet' href='/static/stylesheets/tic-tac-toe.css' />
  <style>
    #erros {
      background: #c00;
      color: #fff;
      display: none;
      margin: -20px -20px 20px;
      padding: 20px;
      white-space: pre-wrap;
    }
  </style>
</head>

<body>
  <div id="errors"></div>
  <div id="container"></div>
  <script src="/static/scripts/ticTacToe.js" />
  <script src="https://unpkg.com/react@15/dist/react.min.js" />
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js" />
  <script>

  </script>
</body>

</html>
